nav{
    background-color: #D5DDC0 ;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

nav .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    padding-left: 2rem;
    margin-top: 7px;
    padding-bottom: 0;
    color: #3F4B15;
}
nav .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    padding-left: 2rem;
    color: #3F4B15;
    margin-top: -1.2rem;
}
.menu-nav {
    width: 50%;
    font-size: x-large;
}

nav .menu-nav ul {
    display: flex;
    justify-content: space-around;
}

nav .menu-nav ul li {
    list-style: none;
}

nav .menu-nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}