* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f7f5ef;
  color: #2f2f2f;
}

.navbar {
  background: #e4ead6;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .logo-nav {
    position: absolute;
    margin-top: 10px;
    left: -15px;
}

.logo-nav img {
    height: auto;
    width: 85px;
} */

.brand p {
  font-size: 15px;
  color: #555;
}

.menu a {
  margin-left: 25px;
  text-decoration: none;
  color: #2f2f2f;
  font-size: 17px;
}

.btn-outline {
  padding: 6px 16px;
  border: 1px solid #2f2f2f;
  border-radius: 20px;
}

.main {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 700px;
  margin-bottom: 20px;
}

.quiz-card {
  background: #ffffff;
  width: 700px;
  padding: 35px 40px;
  border-radius: 25px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  position: relative;
}

.btn-exit {
  position: absolute;
  top: 25px;
  right: 30px;
  background: #dce4c9;
  border: none;
  padding: 6px 16px;
  border-radius: 15px;
  cursor: pointer;
}

.question {
  margin-bottom: 25px;
}

.options {
  display: flex;
  flex-direction: column;
}

.option {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 14px 16px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.option input {
  margin-right: 12px;
}

.nav-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}

.nav-btn button {
  background: #dce4c9;
  border: none;
  padding: 8px 18px;
  border-radius: 12px;
  margin-left: 10px;
  cursor: pointer;
}

.submit-btn {
  margin-top: 25px;
  background: #dce4c9;
  border: none;
  padding: 10px 28px;
  border-radius: 15px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.footer {
  background-color: #e7f0dc;
  padding-top: 40px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-brand {
  display: flex;
  gap: 20px;
  max-width: 500px;
  align-items: flex-start;
}

.footer-brand img {
  width: 110px;
  height: auto;
}

.brand-text h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.brand-text p {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.7;
}

.footer-menu h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-menu ul li {
  margin-bottom: 8px;
  font-size: 14px;
}

.footer-menu ul li a {
  text-decoration: none;
  color: #1f2f1f;
}

.footer-bottom {
  background-color: #3F4B15;
  text-align: center;
  padding: 15px 10px;
}

.footer-bottom p {
  color: #fff;
  font-size: 14px;
  margin: 0;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}