* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 28px;
    align-items: start;
}

header {
    background-image: url(img/hero.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
}

header .tagline {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-25%, -50%);
}

header .tagline h1 {
    font-size: 3.5em;
    margin-bottom: 12px;
}

header .tagline p {
    font-size: 1.8em;
    font-weight: 100;
}

.see-more {
    position: absolute;
    top: 65%;
    left: 15%;
    transform: translate(-15%, -65%);
}

.see-more button {
    padding: 15px;
    font-size: 22px;
    background: none;
    color: white;
    border: 2px solid white;
}

nav .nama-web h2 {
    font-size: 24px;
}

.menu-nav {
    width: 50%;
}

nav .menu-nav ul {
    display: flex;
    justify-content: space-around;
}

nav .menu-nav ul li {
    list-style: none;
}

nav .menu-nav ul li a {
    text-decoration: none;
    color: white;
}